<!DOCTYPE html>
<html ng-app="myApp">

  <head class="content">
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="mainController.js"></script>
  </head>

  <body ng-controller="MainController" class="content">
    
    <h1>RECORDING REVIEW FOR ZACHARY SMITH</h1>

    <div class="box border box-bg marginT padAll2">
        <strong>Title:</strong> High-Frequency Words Assessment Set A        &nbsp;|&nbsp;
        <strong>Recorded:</strong> 03/15/19&nbsp;|&nbsp;
        <strong>Duration:</strong> 00:17
    </div>

    <br><br>

    <h2>
        <span class="valignM">Score This High-Frequency Words Assessment</span>
        <span class="notBold xsm valignM">(<a href="https://www.readinga-z.com/auth/login.php?certificate=authorizer%3Dbundle%26userid%3D5813733%26expires%3D2019%252F04%252F06%2B02%253A29%253A53%26auth%3Dtrue%26hash%3DYdnYUye%252FQ7QjT2aFkHiT3A%253D%253D&amp;page_after_login=%2Fassessments%2Fhigh-frequency-words-assessment%2F" class="learnMoreLink">Learn more</a> about High-Frequency Words Assessments.)</span>
    </h2>

    <hr class="hr-dashed marginB2">

    <table id="score-card">
        <tbody><tr class="score-card-header">
            <td colspan="3">Scorecard</td>
        </tr>
        <tr class="score-card-sub-header">
            <td colspan="2">Score</td>
            <td></td>
        </tr>
        <tr class="score-card-item-white">
            <td colspan="2" id="scored-word-count-field">Scored Word Count</td>
            <td> {{info.data.high_frequency_score.incorrect_count}}</td>
        </tr>
        <tr class="score-card-item-grey">
            <td colspan="2" id="scored-duration-field">Total Word Count</td>
            <td>{{info.data.high_frequency_score.word_count}}</td>
        </tr>
        <tr class="score-card-item-white" ng-model='info.data.high_frequency_score.incorrect_count/info.data.high_frequency_score.word_count'>
            <td colspan="2" id="accuracy-field">Accuracy</td>
            <td> {{100 * info.data.high_frequency_score.incorrect_count/info.data.high_frequency_score.word_count | number: 0}}%</td>
        </tr>
        <tr class="score-card-footer" style="display: none;">
            <td colspan="3"><a href="https://www.raz-kids.com/main/ViewPage/name/RunningRecordInfo/context/teachercorner" target="_blank">Learn more</a> about the Running Record Scorecard.</td>
        </tr>
    </tbody></table>

    <br><br>
    <div>

        <br><br><br>
    </div>
        
      <table style="width:100%" ng-model='info'>
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Accuracy </th>
                    <th> Word </th>
                    <th> Length </th>
                    <th> Notes </th>
                    <th> Play </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="word in info.data.words">
                    <td> {{word.word_number}} </td>
                    <td ng-if="word.accuracy == 1"> O </td>
                    <td ng-if="word.accuracy == 0"> X </td>
                    <td> {{word.word}} </td>
                    <td> {{word.length}} </td>
                    <td> {{word.notes}} </td>
                    <td> 
                        <input type="submit" value="Play"> 
                    </td>
                    <td> 
                        <input type="submit" value="Edit"> 
                    </td>
                </tr>
            </tbody>
        </table>

  </body>

  <br><br>
    <div class="box-50 padR4 borderR">
        <label class="box lg" for="message">
            <strong>Message to Student</strong> (optional)
        </label>
        <textarea class="marginB input-fullWidth textarea-autogrow" name="message_to_student" id="message_to_student" maxlength="250" style="overflow: hidden; min-height: 2em;">Good Work!</textarea><div class="autogrow-textarea-mirror" style="display: none; word-wrap: break-word; padding: 4px 6px; width: 521px; font-family: &quot;Roboto Condensed&quot;, sans-serif; font-size: 15px; line-height: 21px;">Good Work!.<br>.</div>
    </div>

    <div class="box-50 padL4">
        <label class="box lg">
            <strong>Note to Self</strong> (optional)
        </label>
        <textarea class="input-fullWidth textarea-autogrow" name="note_to_self" id="note_to_self" maxlength="250" style="overflow: hidden; min-height: 2em;"></textarea><div class="autogrow-textarea-mirror" style="display: none; word-wrap: break-word; padding: 4px 6px; width: 522px; font-family: &quot;Roboto Condensed&quot;, sans-serif; font-size: 15px; line-height: 21px;">.<br>.</div>
    </div>

    <input type="submit" value="Download MP3">
    <input type="submit" value="Print Result">
    <input type="submit" value="Save">

</html>